@import url(fonts.min.css) (min-width: 767px);
@import url(slicknav.min.css) (max-width: 801px);


/* base */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 62.5%;
  line-height: 1.5;
  color: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
}
a:focus {outline: thin dotted}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {border-bottom: 1px dotted}
b,
strong {
    font-weight: bold;
}
dfn,
em {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
small {font-size: 80%}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {top: -0.5em}
sub {bottom: -0.25em}
img {border: 0}
svg:not(:root) {overflow: hidden}
figure {margin: 1em 40px}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {quotes: "\201C" "\201D" "\2018" "\2019"}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
h1 {text-indent: -9999px}
h1, h2, h3, h4, h5, h6 {
  margin: 0; 
  padding: 0; 
  text-transform: uppercase;
}
p { font-size:1em }
ul { 
  list-style: none; 
  padding: 0; 
  margin: 0}
/* base */

/* -form */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  border: 0;
}
button,
input {
    line-height: normal;
}
button {overflow: visible}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {line-height: normal}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
optgroup {font-weight: bold}
/* /-form */

/* -tabela */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* /-tabela */

/* -globais */ 
.scale, .responsive {
  max-width: 100%;
  height: auto;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.right {float: right}
.left { float: left}
.txt-right {text-align: right}
.center { 
  margin-left: auto; 
  margin-right: auto; 
}
.toggle { display: none }
.inner { width: 940px }
.inner a.close {
  float: left;
  position: fixed;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6); 
}
.hide {display: none !important}
.show {display: block !important}
.invisible {visibility: hidden}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {position: fixed}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
header:before,
header:after,
.wrapper:before,
.wrapper:after {
  display: table;
  content: " ";
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
header:before,
header:after,
.wrapper:before,
.wrapper:after {
  clear: both;
}
.sticky {  
  position: fixed;  
  width: 100%;  
  left: 0;  
  top: 0;  
  z-index: 100;  
  border-top: 0;  
} 
/* /-globais */ 



/* media queries */

/* -mobile */
@media only screen and (max-width: 801px) {
  body {
    background: #dedede;
    font-family: Helvetica, Arial, sans-serif;
  }

  /* --globais */
  .left, .right {float: none; display: block; clear: both}
  .mobile {display: block !important}
  .tablet-monitor {display: none !important}
  .clear {display: none}
  /* /--globais */

  p, dd {font-size: 1.4em}

  .container { padding-left: 10px; padding-right: 10px }
  .col1 {margin-bottom: 60px}

  .titulo1 { line-height: 2em }
  .titulo1 .frase1 {
    font-size: 3.5em;
    letter-spacing: -0.06em;
  }
  .titulo1 .frase2 {
    font-size: 2em;
    letter-spacing: -0.06em;
  }
  .titulo2 { 
    font-size: 3em;
    line-height: 1em
  }
  .titulo5 {
    text-align: center;
    margin: 100px 0 40px;
    line-height: 59px;
  }
  .titulo6 {
    font-size:3em;
    text-align: center;
    line-height: 30px;
  }
  .titulo7.mobile {
    display: block;
    margin-bottom: 20px
  }

  .area {min-height: 400px}
  .area { padding: 60px 0 30px}

  /* --footer */
  footer {
    padding: 0 10px;
    text-align: center;
  }
  footer ul { 
    margin: 0 auto;
    width: 20%;
  }
  /* /--footer */
}

@media only screen and (max-width: 480px) {
  .titulo1 { line-height: 2.5em }
  footer ul { width: 23% }
}

@media only screen and (max-width: 360px) {
  footer ul { width: 30% }
}

@media only screen and (max-width: 320px) {
  footer ul { width: 30% }
}
/* /-mobile */


/* -tablet e monitor */
@media only screen and (min-width: 767px) {
  body {
    margin: 40px auto;
    background: #dedede url(../img/bg.png);
    -webkit-text-size-adjust: none;
    font-family: Helvetica, Arial, sans-serif;
  }

  .area.bios, .area.p2p { padding: 100px 0 30px}
  .area { padding: 40px 0 30px}

  /* --globais */
  .mobile {display: none !important}
  .tablet-monitor {display: block !important}
  /* /--globais */

  .titulo1 { line-height: 3em }
  .titulo1 .frase1 { 
    font-size: 4.7em;
    letter-spacing: -0.01em;
  }
  .titulo1 .frase2 { 
    font-size: 3.25em;
    letter-spacing: -0.04em;
  }
  .titulo6 {
    line-height: 50px; 
    letter-spacing: -0.03em
  }
  .titulo7.mobile {display: none}
} 
/* /-tablet e monitor */


/* -monitor */
@media only screen and (min-width: 960px) {
  body { font-family:"ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif}

  .titulo2 {
    font-size: 3.2em;
    clear: both;
    text-align: center;
    float: none;
  }
  .titulo5 {
    font-size:7em;
    margin-left:180px;
    line-height: 75px
  }
  .titulo6 {
    font-size:4em;
    margin:-5px 0 10px 0;
    color:rgba(0, 0, 0, 0.2);
  }

  .container { width: 940px }
  p, dd {font-size: 1.6em}

  /* --footer */
  footer {
  width: 940px;
  height: 35px;
  }
  footer p {font-family:"ProximaNovaSemibold"}
  /* /--footer */
}
/* /-monitor */

/* /media queries */



/* todos */
.toggle {display: none}

.titulo { 
  text-transform: uppercase; 
  font-weight: bold;
}
.titulo1 { margin-bottom: 60px }
.titulo1 .frase1 { color: rgba(0, 0, 0, 0.2) }
.titulo1 .frase2 {
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
  display: block;
}
.titulo2 {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
.titulo3 { font-size: 2.2em }
.titulo4 { font-size: 1.6em }
.titulo5 {
  font-size:7em;
  color:rgba(0, 0, 0, 0.3);
  clear: both;
}
.titulo6 {
  margin:0;
  color: rgba(0, 0, 0, 0.2);
}
.titulo7 {
  font-size: 2.4em;
  margin:0;
  background:rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 50px;
}

.area {
  position: relative;
  margin: 0 auto;
}

.container { position: relative}

#destino {
  font-size:2.5em;
  font-weight:bold; 
  text-transform:uppercase; 
  line-height:30px; 
  display:block; 
  width:100%; 
  clear:both; 
  margin: 30px 0;  
  color: #818523;
  text-align:center
}

/* -footer */
footer {
  line-height: 35px;
  color: #fff;
  padding-top: 30px
}
footer p {
  font-size: 1.4em;
  margin: 0
}
footer ul li {
  margin-right: 10px; 
  float: left;
}
footer ul li:last-child {margin-right: 0}

footer .rede-social {
  display: block;
  width: 35px;
  height: 35px;
  text-indent: -9999px;
}
footer .rede-social { background: url(../img/sprite-footer.png) no-repeat }
footer .rede-social.linkedin { background-position: 0 0 }
footer .rede-social:hover.linkedin { background-position: 0 -35px }
footer .rede-social.vimeo { background-position: -35px 0 }
footer .rede-social:hover.vimeo { background-position: -35px -35px }
/* /-footer */



/* /INDEX */
/* -mobile */
@media only screen and (max-width: 801px) {
  h1 {
    background: url(../img/mobile/icb.png) no-repeat;
    width: 144px;
    height: 162px;
    margin: 20px auto
  }

  nav.home { margin-bottom: 70px }
  nav.home a {
      width: 130px;
      height: 130px;
      line-height: 130px;
      text-align: center;
      border-radius: 50%;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2.4em;
      box-shadow: inset 0 0 0 5px #fff;
      display: block;
      float: left; 
      margin-right: 15px
  }
  nav.home a.p2p { background: #18a79d }
  nav.home a.network { 
      font-size: 2.34em;
      letter-spacing: -0.06em;
      background: #d7dd3b
  }
  nav.home a.bios { background: #D7225E }
  nav.home a.idea { background: #18a79d }
  nav.home a.la { background: #d7dd3b }

  .btn-menu {display: block}
  .f-nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    min-height: 50px;
    background: white;
    top:0;
    display: block;
  }
  /*.f-nav ul {display: none}*/

  .slicknav_menu {display: block}
}

@media only screen and (min-width: 481px) and (max-width: 766px) {
  h1 {margin: 50px auto}
}

@media only screen and (max-width: 480px) {
  nav.home a {
    width: 150px;
    height: 150px;
    line-height: 150px
  }
  nav.home a.p2p, nav.home a.idea { float: left }
  nav.home a.bios { 
    float: none;
    clear: both;
    margin: 0 auto
  }
  nav.home a.network, nav.home a.la { 
    float: right;
    margin-right: 0
  }
}


@media only screen and (max-width: 320px) {
  nav.home a {
    width: 130px;
    height: 130px;
    line-height: 130px
  }
}
/* /-mobile */




/* -tablet e monitor */
@media only screen and (min-width: 767px) {
  h1 {
      font-size: 3em;
      background: url(../img/icb.png) no-repeat center;
      width: 250px;
      height: 278px;  
  }

  nav.home { 
    width: 100%;
    margin: 60px auto;
  }
  nav.home ul li {
    display: inline; 
    float: left; 
    margin-right: 35px
  }
  nav.home ul li:last-child {margin-right: 0}
  nav.home a {
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    box-shadow: inset 0 0 0 5px #fff;
    background: #fff url(../img/menu.png) no-repeat;
    display: block;
  }
  nav.home a.bios { background-position: 0 0 }
  nav.home a.p2p { background-position: -160px 0 }
  nav.home a.network { background-position: -320px 0 }
  nav.home a.idea { background-position: -480px 0 }
  nav.home a.la { background-position: -640px 0 }

  /* sticknav */
  .slicknav_menu {display: none}
}
/* /-tablet e monitor */



/* -monitor */
@media only screen and (min-width: 960px) {
  nav.home { 
    width: 940px; 
  }
  nav.home a {font-family: "ProximaNovaExtrabold"}
}
/* /-monitor */
/* /INDEX */



/* BIOS */
/* -mobile */
@media only screen and (max-width: 801px) {
  .titulo1 {margin-top: 40px}
  .ilustracao {display: none}
  .bios .mapa {
    background: #ac1b4b;
    padding: 10px
  }
  .bios .mapa a {width: 100%; margin: 0 0 20px 0}
  .mobile .mapa {}

  .bios .mapa a .frase, .mobile .mapa .frase {
    line-height: 45px;
    width: 90%;
    font-weight: bold
  }
  .bios .mobile .mapa .texto p { font-size: inherit;}
  .obs {margin: 45px 0}
  .mobile .mapa .item { 
    font-size: 3.5em; 
    background: #d7225e; 
    border-radius: 100px; 
    display: inline-block; 
    width: 40px; 
    height: 40px; 
    text-align: center; 
    line-height: 45px;
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    float: left;
    margin-right: 10px
  }
  .mobile .mapa .texto {margin-top: 10px}
  .mobile .mapa .texto p {margin-bottom: 10px}
}



@media only screen and (max-width: 480px) {
  .mobile .mapa .frase {width: 85%;}
}


@media only screen and (max-width: 360px) {
  .mobile .mapa .frase {
    width: 75%;
    line-height: inherit;
    margin-top: 5px
  }
}
/* /-mobile */


/* -tablet e monitor */
@media only screen and (min-width: 767px) {
  .ilustracao {display: block}
  .bios .arvore, 
  .bios .frases, 
  .bios .frases-ing, 
  .bios .religious,
  .bios .icb-big,
  .bios .cubo { 
    background: url(../img/bios/sprite-ilustracoes.png) no-repeat;
  }
  .bios .arvore {
    width: 460px;
    height: 380px;
    background-position: 0 -802px
  }
  .bios .frases {
    width: 440px;
    height: 360px;
    margin: 60px 0;
    background-position: -440px 0
  }
  .bios .frases-ing {
    width: 440px;
    height: 360px;
    margin: 60px 0;
    background-position: 0 0
  }
  .bios .religious {
    width: 390px;
    height: 390px;
    margin: 0;
    background-position: -460px -765px
  }
  .bios .icb-big {
    width: 394px;
    height: 442px;
    margin: 30px 0 0 0;
    float: right;
    background-position: 0 -360px
  }
  .bios .cubo {
    width: 390px;
    height: 405px;
    margin: 20px 0 0 0;
    float: right;
    background-position: -394px -360px
  }
  .bios .area-mapa {
    float: none;
    clear: both;
    margin: 60px 0
  }
  .bios .mapa a .frase, 
  .mobile .mapa .frase { 
    line-height: 45px;
    width: 85%;
  }
  .bios .mapa-info {margin-left: 30px}
  .obs { margin: 0}
}
/* /-tablet e monitor */


/* -monitor */
@media only screen and (min-width: 960px) {
  .bios h2, 
  .bios h3 { 
    font-family: 'ProximaNovaExtrabold';
  }
  .bandeira { margin: 0 20px 0 0 }
  .titulo2.box {padding-top: 60px}
  
  .col1 { width: 440px }
  .col2 {width: 460px}

  .bios .principio ul li {font-family: 'ProximaNovaSemibold'}
  .bios .principio-ing ul li {font-family: 'ProximaNovaRegular'}
  .bios .mapa {
    width: 55%;
    height: 460px;
    padding: 30px;
    background: #ac1b4b url(../img/bios/seta.png) no-repeat center right;
  }
  .bios .mapa a {
    width: 450px;
    height: 40px;
    font-family: 'ProximaNovaExtrabold';
    margin: 0 0 10px 0;
  }
  .bios .mapa a .frase.item3 { line-height: 20px }
  .bios .mapa-right {
    float: right;
    width: 390px;
    max-height: 460px;
  }
  .bios small {
    width: 440px;
    padding-right: 40px;
    text-align: center;
    font-family: 'ProximaNovaSemibold';
  }
}
/* /-monitor */

/* /-media queries */


/* todos */
.area.bios { background: #d7225e;}

.bios .box {margin-bottom: 60px}
.bios dl dd { margin: 0 0 20px 0; padding: 0}

.bios .principio, .bios .principio-ing {
  background-color: #ac1b4b;
  padding: 30px;
}
.bios .principio h2, .bios .principio-ing h2 { font-size: 1.6em }
.bios .principio ul li {
  font-size: 1.6em;
  line-height: 25px;
  list-style: disc;
  list-style-position: inside;
}
.bios .principio-ing ul li {
  font-size: 1.3em;
  line-height: 22px;
  list-style: disc;
  list-style-position: inside;
}
.bios .principio p, .bios .principio-ing p {
  font-style: italic;
  line-height: 16px;
  text-align: right;
  margin: 20px 0 0 0;
  padding: 0;
}

/* .bios .mapa {margin-top: 60px;  } */
.bios .mapa p {
  margin:0 0 20px 0;
  line-height: 20px
}
.bios .mapa-right {
  display: none;
  text-align: left;
}

#bios .mapa-right.um {display: none}
#bios .mapa-right.dois {display: none}
#bios .mapa-right.tres {display: none}
#bios .mapa-right.quatro {display: none}
#bios .mapa-right.cinco {display: none}

.bios .mapa ul li {vertical-align: top}
.bios .mapa a,
.mobile .mapa .frase {
  display: block;
  font-size: 1.6em;
  text-transform: uppercase;
}
.bios .mapa a .item { 
  font-size: 2em; 
  background: #d7225e; 
  border-radius: 100px; 
  display: inline-block; 
  width: 40px; 
  height: 40px; 
  text-align: center; 
  line-height: 45px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  float: left;
  margin-right: 10px;
}
.bios .mapa a .frase,
.mobile .mapa .frase { 
  display: inline-block;
  float: left
}
.bios .mapa a:hover, 
.bios .mapa a:active, 
.bios .mapa a.selected  { color: #d7dd3b }

.bios .mapa a:hover .item, .bios .mapa a.selected .item {
  color: #fff;
  background: #d7dd3b;
  
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.bios small {
  float: left;
  display: block;
  margin: 10px 0;
  font-size: 1.6em;
  color: #ac1b4b;
}

.bandeira { 
  background: url(../img/bios/sprite-bandeiras.png) no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: absolute;
  right: 1%;
  z-index: 1
}
.bandeira.brasil { background-position: 0 0}
.bandeira.eua {background-position: bottom right }

.obs {
  text-align:right;
  font-style:italic;
}
/* /todos */
/* /BIOS */



/* P2P */
@media only screen and (max-width: 801px) {
  .p2p .equipe {}
  .p2p .equipe li {
    display: block;
    height: 105px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #14857d; 
  }
  .p2p .equipe li:last-child {
    border: 0;
    padding-bottom: 0
  }
  .p2p .equipe li a { 
    display: block; 
    height: 85px; 
    overflow: hidden;
  }
  .p2p .equipe .titulo3 {
    width: 82%;
    line-height: 85px
  }
  .p2p .equipe .impar .titulo3 {float: right}
  .p2p .equipe .par .titulo3 {
    float: left;
    text-align: right;
  }

  .p2p .equipe .titulo3 .nome { display: inline}
  .p2p .equipe .img { 
    display: block; 
    width: 85px; 
    height: 85px;
    border-radius: 100px;
    background-repeat: no-repeat;
  }
  .p2p .equipe .impar .img {
    float: left;
    margin-right: 10px;
  }
  .p2p .equipe .par .img {
    float: right;
    margin-left: 10px;
  }

  .p2p .eo .img { background: url(../img/mobile/p2p/eo.jpg) }
  .p2p .bm .img { background: url(../img/mobile/p2p/bm.jpg) }
  .p2p .bs .img { background: url(../img/mobile/p2p/bs.jpg) }
  .p2p .jd .img { background: url(../img/mobile/p2p/jd.jpg) }
  .p2p .ap .img { background: url(../img/mobile/p2p/ap.jpg) }
  .p2p .lz .img { background: url(../img/mobile/p2p/lz.jpg) }
  .p2p .wr .img { background: url(../img/mobile/p2p/wr.jpg) }
  .p2p .rt .img { background: url(../img/mobile/p2p/rt.jpg) }
  .p2p .dd .img { background: url(../img/mobile/p2p/dd.jpg) }
  .p2p .gg .img { background: url(../img/mobile/p2p/gg.jpg) }
  .p2p .sn .img { background: url(../img/mobile/p2p/sn.jpg) }
  .p2p .gf .img { background: url(../img/mobile/p2p/gf.jpg) }
  .p2p .sv .img { background: url(../img/mobile/p2p/sv.jpg) }
  .p2p .cs .img { background: url(../img/mobile/p2p/cs.jpg) }
  .p2p .lf .img { background: url(../img/mobile/p2p/lf.jpg) }
  .p2p .ro .img { background: url(../img/mobile/p2p/ro.jpg) }
  .p2p .ao .img { background: url(../img/mobile/p2p/ao.jpg) }
  .p2p .mo .img { background: url(../img/mobile/p2p/mo.jpg) }
  .p2p .ec .img { background: url(../img/mobile/p2p/ec.jpg) }
  .p2p .ai .img { background: url(../img/mobile/p2p/ai.jpg) }
  .p2p .mmo .img { background: url(../img/mobile/p2p/mmo.jpg) }
  .p2p .cp .img { background: url(../img/mobile/p2p/cp.jpg) }

  .p2p-vazio {display: none;}
}


@media only screen and (max-width: 480px) {
  .p2p .equipe .titulo3 {width: 75%}
}

@media only screen and (max-width: 361px) {
  .p2p .equipe .titulo3 {
    line-height: inherit;
    margin: 10px 0 0;
    width: 65%;
  }
}

@media only screen and (max-width: 320px) {
  .p2p .equipe .titulo3 {
    width: 60%;
    height: 85px;
    line-height: inherit;
    padding-top: 10px
  }
  .p2p .equipe .titulo3 .nome { display: block}
}
/* /-mobile */


/* tablet e monitor */
@media only screen and (min-width: 767px) {
  .p2p .container {
    height: 1290px;
    overflow: hidden;
    background: #18a79d url(../img/p2p/bg.gif) no-repeat center;
  }

  .p2p .p2p-vazio,
  .p2p a {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #13867e;
    box-shadow: 0;
  }

  .p2p-vazio.vazio1 {margin:1010px 0 0 680px;}
  .p2p-vazio.vazio2 {margin:1110px 0 0 135px;}
  .p2p-vazio.vazio3 {margin:315px 0 0 775px;}
  .p2p-vazio.vazio4 {margin:620px 0 0 290px;}
  .p2p-vazio.vazio5 {margin:810px 0 0 780px;}

  .p2p .p, .p2p .p .titulo { 
    width: 120px; 
    height: 120px; 
  }
  .p2p .m, .p2p .m .titulo { 
    width: 180px; 
    height: 180px; 
  }
  .p2p .g, .p2p .g .titulo { 
    width: 230px; 
    height: 230px;
  }

  .p2p .p .titulo,
  .p2p .m .titulo,
  .p2p .g .titulo {
    display: inline-block;
  }

  .p2p .p .titulo { 
    padding-top: 48px; 
    font-size: 1.4em; 
    line-height: 14px; 
  }
  .p2p .m .titulo {
    padding-top: 68px; 
    font-size: 2.2em; 
    line-height: 22px; 
  }
  .p2p .g .titulo { 
    padding-top: 90px; 
    font-size: 2.5em; 
    line-height: 25px; 
  }

  .p2p .equipe .titulo3 .nome { display: block}

  .p2p a .titulo {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-family: 'ProximaNovaExtrabold';
    opacity: 1;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .p2p a:hover .titulo { opacity: 0 }

  .p2p a .img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px #fff, 0 0 5px 0 rgba(0, 0, 0, 0.4);
    display: inline-block;
    opacity: 0;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .p2p a:hover .img { opacity: 1 }

  .p2p .gf { margin:65px 0 0 40px}
  .p2p .gf .img { background: url(../img/p2p/gf.jpg) no-repeat }

  .p2p .ao { margin:35px 0 0 710px}
  .p2p .ao .img { background: url(../img/p2p/ao.jpg) no-repeat }

  .p2p .cp {margin:360px 0 0 435px}
  .p2p .cp .img { background: url(../img/p2p/cp.jpg) no-repeat }

  .p2p .jd {margin:490px 0 0 705px}
  .p2p .jd .img { background: url(../img/p2p/jd.jpg) no-repeat }

  .p2p .ap {margin:780px 0 0 65px}
  .p2p .ap .img { background: url(../img/p2p/ap.jpg) no-repeat }

  .p2p .ro {margin:0 0 0 390px}
  .p2p .ro .img { background: url(../img/p2p/ro.jpg) no-repeat }

  .p2p .eo {margin:355px 0 0 160px}
  .p2p .eo .img { background: url(../img/p2p/eo.jpg) no-repeat }

  .p2p .dd {margin:540px 0 0 0}
  .p2p .dd .img { background: url(../img/p2p/dd.jpg) no-repeat }

  .p2p .mo {margin:665px 0 0 490px}
  .p2p .mo .img { background: url(../img/p2p/mo.jpg) no-repeat }

  .p2p .bm {margin:220px 0 0 315px}
  .p2p .bm .img { background: url(../img/p2p/bm.jpg) no-repeat }

  .p2p .bs {margin:210px 0 0 560px}
  .p2p .bs .img { background: url(../img/p2p/bs.jpg) no-repeat }

  .p2p .ec {margin:340px 0 0 0}
  .p2p .ec .img { background: url(../img/p2p/ec.jpg) no-repeat }

  .p2p .wr {margin:915px 0 0 415px}
  .p2p .wr .img { background: url(../img/p2p/wr.jpg) no-repeat }

  .p2p .sv {margin:1115px 0 0 440px}
  .p2p .sv .img { background: url(../img/p2p/sv.jpg) no-repeat }


  .p2p .lz { background: url(../img/p2p/lz.jpg) no-repeat }
  .p2p .rt { background: url(../img/p2p/rt.jpg) no-repeat }
  .p2p .gg { background: url(../img/p2p/gg.jpg) no-repeat }
  .p2p .sn { background: url(../img/p2p/sn.jpg) no-repeat }
  .p2p .cs { background: url(../img/p2p/cs.jpg) no-repeat }
  .p2p .lf { background: url(../img/p2p/lf.jpg) no-repeat }
  .p2p .ai { background: url(../img/p2p/ai.jpg) no-repeat }
  .p2p .mmo { background: url(../img/p2p/mmo.jpg) no-repeat }
}
/* /tablet e monitor */

.p2p {background: #18a79d}
/* /P2P */



/* NETWORK */
/* -mobile */
@media only screen and (max-width: 801px) {
    .network .logos { 
      width: 300px;
      height: 285px;
      background: url(../img/mobile/network/ligacao.png);
    }
    .network .logos ul li {
      width: 130px;
      height: 130px;
    }
    .network .logos ul li.icbzin { 
      top: 141px;
      left: 88px;
    }
    .network .logos ul li.olsix a { margin: 15px auto 0}
    .network .logos ul li.sizes span {margin: 48px auto 0}
    .network .logos ul li.icbzin span { margin: 35px auto 0}
}


/* -tablet e monitor */
@media only screen and (min-width: 767px) {
  .network .container {padding:60px 0 !important}

  .network .logos { 
    width: 430px;
    height: 395px;
    background: url(../img/network/ligacao.png) no-repeat center center;
  }
  .network .logos ul li {
    width: 160px;
    height: 160px;
  }
  .network .logos ul li.olsix { margin-left: 27px }
  .network .logos ul li.icbzin { 
    bottom: 40px;
    left: 150px;
  }
  .network .logos ul li.olsix a { margin: 35px auto 0 }
  .network .logos ul li.sizes span { margin: 60px auto 0 }
  .network .logos ul li.icbzin span { margin: 49px auto 0 }
}


/* todos */
.area.network {background: #d7dd3b}

.network .logos { 
  margin: 0 auto;
  overflow: hidden;
  position: relative;  
}
.network .logos ul li {
  background: #ebee9d;
  border-radius: 100px;
}
.network .logos ul li a, .network .logos ul li span {
  display: block;
  text-indent: -9999px;
  background: url(../img/mobile/network/sprite-logos.png) no-repeat;
}
.network .logos ul li.olsix { float: left }
.network .logos ul li.sizes { float: right}
.network .logos ul li.icbzin { position: absolute}
.network .logos ul li.olsix a { 
  background-position: 0 0;
  width: 74px;
  height: 92px;
}
.network .logos ul li.sizes span { 
  background-position: -77px 0;
  width: 115px;
  height: 35px;
}
.network .logos ul li.icbzin span { 
  background-position: -77px -40px;
  width: 110px;
  height: 64px;
}

/* /todos */
/* /NETWORK */



/* IDEA */
/* -mobile */
@media only screen and (max-width: 801px) {
  .idea .empresas {
    margin: 0 auto;
    width: 95%
  }
  .idea .empresas li a {
    width: 140px;
    height: 140px;
    background: url(../img/mobile/idea/sprite-idea.jpg) no-repeat; 
    margin: 0 15px 15px 0;
  }
  .idea .empresas li a.barganhou { background-position: 0 0}
  .idea .empresas li a.catalogo { background-position: -420px 0}
  .idea .empresas li a.conecta { background-position: -140px 0}
  .idea .empresas li a.youjudge { background-position: -560px 0}
  .idea .empresas li a.oshopping { background-position: 0 -140px}
  .idea .empresas li a.nanobusiness { background-position: -140px -140px}
  .idea .empresas li a.addict { background-position: -280px -140px}
  .idea .empresas li a.baculeju { background-position: -420px -140px}
  .idea .empresas li a.autograph { background-position: -560px -140px}
}

@media only screen and (max-width: 480px) {
  /*.idea .empresas {width: 75%}*/
  .idea .empresas li a {margin: 0 0 15px 0}
  .idea .empresas li a.barganhou,
  .idea .empresas li a.conecta,
  .idea .empresas li a.oshopping,
  .idea .empresas li a.addict,
  .idea .empresas li a.autograph {
    margin: 0 15px 15px 0;
  }
}


@media only screen and (max-width: 320px) {
  .idea .empresas {width: 100%}
  .idea .empresas li a.barganhou,
  .idea .empresas li a.conecta,
  .idea .empresas li a.oshopping,
  .idea .empresas li a.addict,
  .idea .empresas li a.autograph {
    margin: 0 15px 15px 0;
  }
}
/* /-mobile */


/* -tablet e monitor */
@media only screen and (min-width: 767px) {
  .idea .container {padding:60px 0 !important}

  .idea .empresas li a {
    width: 160px;
    height: 160px;
    box-shadow: 0;
    background: url(../img/idea/sprite-idea.jpg) no-repeat;
    margin: 0 35px 35px 0;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .idea .empresas li a:hover { box-shadow: inset 0 0 0 5px #fff, 0 0 5px 0 rgba(0, 0, 0, 0.4) }

  .idea .empresas li a.barganhou { background-position: 0 0 }
  .idea .empresas li a.conecta { background-position: -160px 0 }
  .idea .empresas li a.sequaz { background-position: -320px 0 }
  .idea .empresas li a.catalogo { background-position: -480px 0 }
  .idea .empresas li a.youjudge { background-position: -640px 0 }
  .idea .empresas li a.oshopping { background-position: 0 -160px; margin-right: 0 }
  .idea .empresas li a.nanobusiness { background-position: -160px -160px }
  .idea .empresas li a.addict { background-position: -320px -160px }
  .idea .empresas li a.baculeju { background-position: -480px -160px }
  .idea .empresas li a.autograph { background-position: -640px -160px }
}


/* todos */
.area.idea {background: #18a79d}

.idea .empresas li a {
  display: inline-block;
  border-radius: 100px;
  float: left;
  text-indent: -9999px;
}
/* /todos */
/* /IDEA */



/* CONTATO */
/* media queries */

/* -mobile */
@media only screen and (max-width: 801px) {
  .contato form {margin-top: 20px}
  .contato label {font-size: 1.8em}
  .contato button {margin: 0 auto 50px}
}


/* -tablet e monitor */
@media only screen and (min-width: 767px) {
  .area.la {width: 100%}
  .la .container {padding:60px 0 !important}
  .la .endereco,
  .la .contato {
    width: 49%;
  }
}


/* -monitor */
@media only screen and (min-width: 960px) {
  .la .titulo3 {
    margin-bottom: 20px;
    font-family: 'ProximaNovaExtrabold';
  }
  .endereco .lagoa-corp, .endereco .casa-forte {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 50%;
    text-indent: -9999px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    background: url(../img/contato/la.jpg) no-repeat 0 0;
  }
  .endereco .lagoa-corp { background-position: 0 0 }
  .endereco .casa-forte { background-position: -200px 0 }
  .endereco .info {
    margin: 50px auto 0;
    line-height: 24px;
    font-family: 'ProximaNovaSemibold';
  }
  .contato input, .contato textarea {
    display: block;
    width: 420px;
    font-family: 'ProximaNovaSemibold';
  }
  .contato button {font-family: 'ProximaNovaExtrabold'}
  .contato button {float: right}
}


/* todos */
.area.la {background: #d7dd3b}

.la .endereco {
  color: #818523;
  font-size: 1.8em
}
.la .endereco address { font-style: normal}

.contato input, .contato textarea {
  margin: 0 0 20px 0; 
  padding: 10px; 
  color: #bbb; 
  font-size: 1.8em; 
  width: 100%;
}
.contato input:focus, .contato textarea:focus { color: #888;  }
.contato label {
  display: block;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: #666;
}
.contato button {
  display: block; 
  width: 180px; 
  padding: 10px 0; 
  font-size: 2em; 
  color: #fff; 
  text-transform: uppercase; 
  background-color: #d7225e; 
  cursor: pointer; 
  border: 0;
}
.contato button:hover { background-color: #b2174c }
.error {
  font-size: 1.4em;
}
/* /todos */
/* /CONTATO */